
<div class="container">

   


      
      <div class="row">
       
          <div id="indexpage">
            <h2>Welcome to Last Call </h2>
            <h3>A site where you can order great food at the end of the restaurant day at a low price.</h3>
            <h3>How it works blah blah blah blah blah</h3>
        </div>
      </div>
      
</div>
