  
  
  <div id="loginpage">
    <h2>Login Page</h2>
  <form action="/login/?_method=PUT" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Username</label>
    <input type="password" id="password" name="password">
{{!--     
    <input type="hidden" name="restID" value={{this.restID}}>
    <input type="hidden" name="priorquantity" value={{this.quantity}}>
    <input type="hidden" name="PlatePurchaseID" value={{this.id}}> --}}
                       
    <button type="submit">Login</button>
    </form>
    <a href="/newuser">Create New User</a>
    </div>
