<h1>Quantity Error</h1>

<div id="quantityerror">
      <h2>There are not enough portions to sell. Please check quantity before attempting to purchase</h2>

      <button onclick="location.href='/purchaseoptions'" type="button">
     Click Here to Return and Try Again</button>
      </div>